html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  cursor: nesw-resize; }

.form {
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  .form .search-btn {
    position: absolute;
    right: 0;
    border: none;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    cursor: pointer; }
    .form .search-btn:hover {
      border: solid 2px black;
      background-color: white;
      color: black; }
  .form .input {
    border: solid 2px lightgrey;
    color: black;
    font-size: 8vw;
    padding: 5px;
    width: 100%;
    height: 85px;
    margin: 20px 60px 40px 10px;
    overflow: visible; }
    .form .input:focus {
      outline: none;
      border-color: #00958e; }
    .form .input::placeholder {
      font-weight: lighter;
      color: lightgrey; }

.button {
  padding: 10px;
  width: 100%;
  height: 30%; }
  .button:hover h3 {
    text-shadow: 2px 2px 8px black; }
  .button h3 {
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 20px; }

.gallery {
  display: grid;
  grid-template-columns: 50px auto 50px; }
  .gallery .arrows {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 50px;
    height: 100%; }
    .gallery .arrows:hover {
      background-color: black;
      color: white; }
  .gallery .no-arrow:hover {
    background: white; }
  .gallery .fixed {
    position: fixed;
    top: 50%; }
  .gallery #prev {
    left: 10px; }
  .gallery #next {
    right: 10px; }

.photos {
  width: 100%;
  display: grid;
  grid-template: repeat(auto-fit, minmax(240px, 1fr))/repeat(auto-fit, minmax(160px, 1fr));
  background-color: white; }
  .photos .tile {
    object-fit: cover;
    width: 100%;
    position: relative;
    display: flex; }
    .photos .tile .button {
      display: none;
      position: absolute;
      align-items: flex-end;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      animation-name: grow;
      animation-duration: 1s;
      animation-fill-mode: forward;
      cursor: pointer; }
      .photos .tile .button h3 {
        opacity: 0%;
        animation-name: fade;
        animation-duration: 1.5s; }
    .photos .tile .modal {
      display: none;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.75);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      align-content: center;
      justify-content: center; }
      .photos .tile .modal .open-img {
        object-fit: none;
        cursor: alias; }
    .photos .tile:hover .button {
      display: flex; }
@keyframes grow {
  100% {
    width: 100%; }
  0% {
    width: 0%; } }
      .photos .tile:hover .button h3 {
        opacity: 100%; }
@keyframes fade {
  0% {
    opacity: 0%; }
  50% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
    .photos .tile .img {
      object-fit: cover;
      width: 100%; }

.pexel-logo {
  position: absolute;
  top: 90px;
  right: 130px;
  width: 50px;
  cursor: pointer; }
  .pexel-logo .pexel-img {
    cursor: pointer; }

/*# sourceMappingURL=App.css.map */
